/* .navbar {
    padding: 1.5rem 1rem;
} */

@media (max-width:991px) {
    .logo-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}


.text-vote{
    font-weight: 500 !important;
}

a{
    text-decoration: none;
}

#header img {
    width: 50px;
}

#header{
    background: linear-gradient(90deg, #469194, #237d80, 25%, #237d80);
}

#footer{
    background: linear-gradient(90deg, #469194, #237d80, 25%, #237d80);
}

#footer a{
    color: white;
}

